@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes progressBar {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

.animate-progressBar {
    animation: progressBar 3s linear forwards;
}